.section-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* centraliza na tela inteira */
  background: #f5f5f5;
}

.formulario {
  background: white;
  justify-content: center;
  padding: 30px;
  width: 50%;
  height: 650px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px; /* espaçamento entre inputs */
  font-family: 'Poppins', sans-serif;
}

.formulario input,
.formulario select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.formulario input:focus,
.formulario select:focus {
  border-color: #4f46e5;
  outline: none;
}

.botao-section{
    display: flex;
    gap: 15px;
}

.botao{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: so;
}

.label {
  font-weight: 600;
}